.j239 {
  color: rgba(0, 0, 0, 0.38);
}

.j224 {
  display: flex;
  align-items: center;
}

/**
 * MuiStep
 */
.j221 {
  padding-left: 8px;
  padding-right: 8px;
}
.j221:first-child {
  padding-left: 0;
}
.j221:last-child {
  padding-right: 0;
}
.j223 {
  flex: 1;
  position: relative;
}

/**
 * MuiStepper
 */

.j217 {
  align-items: center;
  flex-direction: row;
}
.j219 {
  align-items: flex-start;
}

/**
 * MuiStepLabel
 */
.mdc-step-label {
  display: flex;
  align-items: center;
}
.mdc-step-label.j229 {
  flex-direction: column;
}
.mdc-step-label.j231 {
  cursor: default;
}

/**
 * MuiStepButton
 */
.j252 {
  width: 100%;
  margin: -24px -16px;
  padding: 24px 16px;
  box-sizing: content-box;
}
.j253 {
  justify-content: left;
}
.j254 {
  color: rgba(0, 0, 0, 0.3);
}

/**
 * MuiStepContent
 */
.mdc-step-content {
  margin-top: 8px;
  margin-left: 12px;
  border-left: 1px solid #bdbdbd;
  padding-left: 20px;
  padding-right: 8px;
}
.j271 {
  border-left: none;
}

