.demo-cell {
  box-sizing: border-box;
  background-color: #666666;
  height: 200px;
  padding: 8px;
  color: white;
  font-size: 1.5em;
}

.demo-cell__bg-gray {
  background-color: #D8D8D8;
  height: 184px;
  font-size: 1em;
}